# ignore these files
SS24-Jun-2015/
results/
sim_pred/results_old/
mat_A.mat
mat_A_99.mat
mat_A_sim.mat
*.m~
sim_pred/results
real_old/
real/prelim/*.mat
real/*.mat
*.mat
*.png
*.mp4

# except
!data_sim_2dot5.mat
!data_sim_3.mat
!data_sim_4.mat
!sim_pred_err_Matern_2dot5.mat
!sim_pred_err_Matern_3.mat
!sim_pred_err_Matern_4.mat
!sim_pred_err_nonGau_needlet_2dot5.mat
!sim_pred_err_nonGau_needlet_3.mat
!sim_pred_err_nonGau_needlet_4.mat
!sim_pred_err_Gau_needlet_2dot5.mat
!sim_pred_err_Gau_needlet_3.mat
!sim_pred_err_Gau_needlet_4.mat
!sim_rep2.mat
!sim_rep3.mat
