# ignore these files
SS24-Jun-2015/
results/
sim_pred/results_old/
mat_A.mat
mat_A_99.mat
mat_A_sim.mat
*.m~
sim_pred/results
real_old/
real/prelim/*.mat
real/*.mat

# except
!data_sim_2dot5.mat
*.mat
